In [4]:
# Import Statements
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# KMeans Clustering- With PCA

In [5]:
# Assign %pwd to working_dir
working_dir = %pwd

In [6]:
# Reading PCA Features From Disk
spotify = pd.read_csv((working_dir)+"/Data/spotify-pca.csv", delimiter = ",")

In [7]:
pca_names = np.array(
    ['mode_0', 
     'acousticness', 
     'explicit_0', 
     'instrumentalness', 
     'key', 
     'valence'])

In [8]:
data_for_clustering = spotify[pca_names]

### Performing exhaustive search for the optimal K value

In [9]:
# try different values of K to see which K might be the best for K-means
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples
from sklearn import metrics

# Storing K and Silhouette Values for sorting later
df_silhouette_values = pd.DataFrame(columns=['K','Silhouette Values','Silhouette Mean'])

for k in range(3,21):
    kmeans = KMeans(n_clusters=k, max_iter=500)
    kmeans.fit(data_for_clustering)
    clusters = kmeans.predict(data_for_clustering)
    cluster_df = pd.DataFrame(clusters, columns=["Cluster"])

    spotify_silhouettes = metrics.silhouette_samples(data_for_clustering, cluster_df.to_numpy().ravel())
    print(spotify_silhouettes[:20])
    print("\nMean Silhouette Value: ", spotify_silhouettes.mean())
    print('K = ',k)
    
    df_silhouette_values = df_silhouette_values.append({'K': k, 'Silhouette Values': spotify_silhouettes, 'Silhouette Mean':spotify_silhouettes.mean() }, ignore_index=True)

[0.26427766 0.34028793 0.29227394 0.14195452 0.20926535 0.37093779
 0.40483117 0.38915462 0.31081375 0.12711734 0.27977531 0.27980631
 0.3047757  0.31113494 0.29979872 0.32308749 0.30054641 0.29279668
 0.28278382 0.26849683]

Mean Silhouette Value:  0.26727154297297634
K =  3
[ 0.21570664  0.29049923  0.39892645  0.1062708   0.1987046   0.36628428
  0.53010467  0.35240176  0.37461633  0.14358829  0.23495029  0.3077633
  0.36523961  0.27209661  0.36425293  0.41978495  0.33813308  0.30413462
 -0.08190376  0.24298039]

Mean Silhouette Value:  0.2687557507282339
K =  4
[ 0.2545575   0.32419337  0.3797917   0.06362764  0.25742861  0.37205963
  0.5175149   0.36066013  0.37901774  0.10058099  0.27370139  0.31067384
  0.36971218  0.33606822  0.35902858  0.40065028  0.34421517  0.30737733
 -0.08823515  0.28463024]

Mean Silhouette Value:  0.29200734041582244
K =  5
[ 0.346566   -0.00208442  0.37938087  0.06522617  0.20676732  0.37035341
  0.51725482  0.36163773  0.37781989  0.10228324  0.35208536  0.30967112
  0.36847201  0.33497985  0.35863144  0.40025248  0.34494402  0.30623392
 -0.08921735  0.40503873]

Mean Silhouette Value:  0.29881356594477476
K =  6
[ 0.34713224 -0.00079244  0.28211807  0.06758407  0.20672623  0.43193279
  0.53669054  0.35584605  0.42546917 -0.02455462  0.35255781  0.35008249
  0.41486573  0.32022812  0.29993058  0.34316055  0.28610888  0.35130955
 -0.05686272  0.40538948]

Mean Silhouette Value:  0.2917740451215436
K =  7
[ 0.51001754  0.19294172  0.28636437  0.07172367  0.1842947   0.43386485
  0.53615437  0.35324808  0.42748836 -0.02532519  0.51543584  0.35228893
  0.41554713  0.32234941  0.302914    0.34635509  0.28420037  0.35199021
 -0.05719024  0.4806551 ]

Mean Silhouette Value:  0.29510911292961145
K =  8
[ 0.5099828   0.19306861  0.23505974  0.40437929  0.18452915  0.48708225
  0.51972767  0.33483708  0.46703219  0.42312594  0.5152952   0.38623038
  0.45665122 -0.06294164  0.2616645   0.30395616  0.27096605  0.3940364
 -0.0246377   0.48059915]

Mean Silhouette Value:  0.30415236886971847
K =  9
[0.50999654 0.192864   0.46862177 0.39178279 0.18464062 0.49752824
 0.0673084  0.42967747 0.44085458 0.41715961 0.51540952 0.32578228
 0.41674328 0.11809796 0.32018126 0.37644016 0.42502138 0.34295442
 0.19083729 0.48072511]

Mean Silhouette Value:  0.30517645083993433
K =  10
[0.50273279 0.1719601  0.45401635 0.11055278 0.51177865 0.46249608
 0.02465915 0.40549392 0.4134539  0.06643355 0.50960877 0.30459042
 0.38291017 0.33572609 0.26843015 0.33044011 0.38826244 0.31173402
 0.21468184 0.39025743]

Mean Silhouette Value:  0.3164000648232619
K =  11
[0.50273279 0.1719601  0.45492702 0.12637139 0.51177865 0.46558258
 0.09731179 0.36534642 0.43010205 0.1019508  0.50960877 0.31478582
 0.38970391 0.33451413 0.17153591 0.2668337  0.43901803 0.31498461
 0.22474799 0.39025743]

Mean Silhouette Value:  0.310722112152686
K =  12
[0.5043134  0.12129034 0.45559294 0.39387442 0.47730635 0.4990552
 0.02572037 0.40987414 0.44279485 0.41639041 0.51941965 0.33056746
 0.41309824 0.11473223 0.26793064 0.33097522 0.39164327 0.34218106
 0.20122438 0.42078624]

Mean Silhouette Value:  0.32572881603266507
K =  13
[0.50417607 0.12082551 0.44763077 0.39182311 0.47727786 0.49473249
 0.08536355 0.35803722 0.44776115 0.4091255  0.51946235 0.32959779
 0.41097213 0.12047705 0.14758924 0.24694209 0.43903889 0.336398
 0.21901837 0.42073515]

Mean Silhouette Value:  0.32295799661990787
K =  14
[0.50416774 0.12082838 0.45427043 0.39772319 0.47727786 0.01573567
 0.09025161 0.35195221 0.41221274 0.41473595 0.51944487 0.45374605
 0.4316893  0.11399819 0.15786693 0.2565211  0.43536038 0.35787869
 0.05983734 0.42077183]

Mean Silhouette Value:  0.32045896368468263
K =  15
[ 0.10999961  0.06828126  0.15511076  0.38993332  0.51225498  0.06478614
  0.08033237  0.32076058  0.40024461  0.4143458   0.07927383  0.43167046
  0.45340612  0.13116125  0.38969085  0.36013304  0.40214004  0.39313815
 -0.04762348  0.10721635]

Mean Silhouette Value:  0.3138979506382427
K =  16
[ 0.50418077  0.12088231  0.24497644  0.39237696  0.47727786  0.00868876
  0.08550399  0.34602468  0.40951779  0.35285722  0.51940216  0.45202793
  0.43776457  0.13879444  0.38147111  0.38440301  0.43472307  0.36194328
 -0.06311294  0.42073709]

Mean Silhouette Value:  0.3106060669485547
K =  17
[ 0.12408769  0.06358797  0.2355247   0.39348635  0.47737533  0.0655953
  0.04788902  0.37392482  0.40066806  0.35239784  0.07637716  0.43185279
  0.45349478  0.13505499  0.40736138  0.3865069   0.47427414  0.39303992
 -0.02778355  0.12166501]

Mean Silhouette Value:  0.3079939757297023
K =  18
[ 0.12398628  0.06323589  0.29350041  0.39878981  0.47736284  0.00657028
  0.06186267  0.41125493  0.24082591  0.37682685  0.07637394  0.27731336
  0.3896256   0.12121173  0.42619816  0.41470848  0.48540733  0.19431278
 -0.01036166  0.12171954]

Mean Silhouette Value:  0.31237658398898527
K =  19
[ 0.12452963  0.06281076  0.17824792  0.38466368  0.47736079 -0.00135979
  0.11480437  0.3194295   0.00361897  0.35845317  0.07565064 -0.01790213
  0.18254989  0.13199545  0.39738136  0.37324327  0.40248852  0.13657904
  0.06862363  0.12235795]

Mean Silhouette Value:  0.3091799749104676
K =  20

In [10]:
df_silhouette_values = df_silhouette_values.sort_values('Silhouette Mean', ascending=False).nlargest(50, 'Silhouette Mean')
df_silhouette_values

     K                                  Silhouette Values  Silhouette Mean
10  13  [0.5043133969549626, 0.12129033611852735, 0.45...         0.325729
11  14  [0.5041760651787965, 0.12082550614254375, 0.44...         0.322958
12  15  [0.5041677375375535, 0.12082837722410662, 0.45...         0.320459
8   11  [0.5027327944517269, 0.171960102762028, 0.4540...         0.316400
13  16  [0.10999961368428665, 0.06828125808006094, 0.1...         0.313898
16  19  [0.12398628113536839, 0.06323588640800475, 0.2...         0.312377
9   12  [0.5027327944517269, 0.171960102762028, 0.4549...         0.310722
14  17  [0.5041807665896382, 0.12088230678792537, 0.24...         0.310606
17  20  [0.12452963488841297, 0.06281076180394472, 0.1...         0.309180
15  18  [0.12408768859075439, 0.0635879679059271, 0.23...         0.307994
7   10  [0.5099965408190957, 0.19286399531449264, 0.46...         0.305176
6    9  [0.5099827977776183, 0.19306860652916938, 0.23...         0.304152
3    6  [0.3465660007131004, -0.0020844215134823833, 0...         0.298814
5    8  [0.5100175412817137, 0.1929417151210885, 0.286...         0.295109
2    5  [0.25455749921622256, 0.32419337073052623, 0.3...         0.292007
4    7  [0.34713223834708007, -0.000792444304901734, 0...         0.291774
1    4  [0.21570664080872434, 0.2904992292685309, 0.39...         0.268756
0    3  [0.2642776555732503, 0.34028792722611556, 0.29...         0.267272

In [11]:
optimal_k = int(df_silhouette_values.K.iloc[0])
print('Optimal K value appears to be',optimal_k,'.')

Optimal K value appears to be 13 .

## Writing Silhouette Values to disk.

In [12]:
# Saved Silhouette Values, Just In Case We Need To Plot Them Later.
df_silhouette_values = df_silhouette_values[['K','Silhouette Values', 'Silhouette Mean']]
df_silhouette_values.to_csv((working_dir)+"/Data/spotify-kmeans-silhouette_values.csv",index = False)

### We caclulated the Silhouette values for K = {3:21}.  After 2 hours, we were finally able to confirm that the optimal K value is 13

In [14]:
# Reading KMeans Silhouette Values From File
df_silhouette_values = pd.read_csv((working_dir)+"/Data/spotify-kmeans-silhouette_values.csv", delimiter = ",")

optimal_k = int(df_silhouette_values.K.iloc[0])
print('Optimal K value appears to be',optimal_k,'.')

Optimal K value appears to be 13 .

### Doing some initial clustering exploration with the 6 features discovered in our PCA and with the optimal K

In [15]:
# Passing pca_names for KMeans processing
data_for_clustering = spotify[pca_names]

In [16]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=optimal_k, max_iter=500)
kmeans.fit(data_for_clustering)
clusters = kmeans.predict(data_for_clustering)
cluster_df = pd.DataFrame(clusters, columns=["Cluster"])

### Summary Of Centroid Values For Each Cluster

In [17]:
# Summary Of Centroid Values For Each Cluster
pd.options.display.float_format='{:,.2f}'.format
centroids = pd.DataFrame(kmeans.cluster_centers_, columns=pca_names)
centroids

    mode_0  acousticness  explicit_0  instrumentalness  key  valence
0    -0.00          0.09        1.00              0.77 0.43     0.45
1    -0.00          0.80        1.00              0.03 0.73     0.54
2     1.00          0.84        1.00              0.04 0.48     0.50
3    -0.00          0.17        1.00              0.03 0.14     0.62
4    -0.00          0.82        1.00              0.04 0.18     0.48
5    -0.00          0.93        1.00              0.83 0.45     0.40
6     1.00          0.07        1.00              0.79 0.61     0.44
7    -0.00          0.16        1.00              0.02 0.71     0.61
8     1.00          0.16        1.00              0.03 0.29     0.58
9     1.00          0.92        1.00              0.82 0.47     0.39
10   -0.00          0.20        0.00              0.03 0.40     0.51
11    1.00          0.19        1.00              0.03 0.87     0.60
12    1.00          0.21        0.00              0.03 0.60     0.52

### Summary Of Cluster Sizes

In [18]:
# Function: cluster_sizes
# Accepts:  cluster labels
# Returns:  size of cluster labels
def cluster_sizes(clusters):
    # clusters is an array of cluster labels
    # for each instance in the data

    size = {}
    cluster_labels = np.unique(clusters)
    n_clusters = cluster_labels.shape[0]

    for c in cluster_labels:
        size[c] = len(spotify[clusters == c])
    return size

In [19]:
# Summary Of Cluster Sizes
size = cluster_sizes(clusters)
cluster_total = 0

for c in size.keys():
    print("Size of Cluster", c, "= ", size[c])
    cluster_total += size[c]

print('\nTotal:              ',cluster_total)

Size of Cluster 0 =  7290
Size of Cluster 1 =  23732
Size of Cluster 2 =  14037
Size of Cluster 3 =  20718
Size of Cluster 4 =  23099
Size of Cluster 5 =  16989
Size of Cluster 6 =  4760
Size of Cluster 7 =  23589
Size of Cluster 8 =  10617
Size of Cluster 9 =  8014
Size of Cluster 10 =  7071
Size of Cluster 11 =  9692
Size of Cluster 12 =  4781

Total:               174389

### Adding class labels to the Spotify dataset.

In [20]:
cluster_df.to_numpy().ravel()
cluster_df

        Cluster
0             2
1             2
2             4
3             0
4            12
...         ...
174384        8
174385        4
174386        9
174387       10
174388        0

[174389 rows x 1 columns]

In [23]:
# adding the what cluster the row belongs to for the whole dataset
spotify['cluster'] = cluster_df
spotify

,artists,id,name,mode_0,acousticness,explicit_0,instrumentalness,key,valence,cluster
0,['Mamie Smith'],0cS0A1fUEUd1EW3FcF8AEI,Keep A Song In Your Soul,1,0.99,1,0.00,0.45,0.63,2
1,"[""Screamin' Jay Hawkins""]",0hbkKFIJm7Z05H8Zl9w30f,I Put A Spell On You,1,0.64,1,0.03,0.45,0.95,2
2,['Mamie Smith'],11m7laMUgmOKqI3oYzuhne,Golfing Papa,0,0.99,1,0.00,0.00,0.69,4
3,['Oscar Velazquez'],19Lc5SfJJ5O1oaxY0fpwfh,True House Music - Xavier Santos & Carlos Gomi...,0,0.00,1,0.80,0.18,0.04,0
4,['Mixe'],2hJjbsLCytGsnAHfdsLejp,Xuniverxe,1,0.29,0,0.00,0.91,0.30,12
...,...,...,...,...,...,...,...,...,...,...
174384,"['DJ Combo', 'Sander-7', 'Tony T']",46LhBf6TvYjZU2SMvGZAbn,The One,1,0.01,1,0.00,0.55,0.19,8
174385,['Alessia Cara'],7tue2Wemjd0FZzRtDrQFZd,A Little More,0,0.80,1,0.00,0.36,0.23,4
174386,['Roger Fly'],48Qj61hOdYmUCFJbpQ29Ob,Together,1,0.81,1,0.92,0.36,0.71,9
174387,['Taylor Swift'],1gcyHQpBQ1lfXGdhZmWrHP,champagne problems,0,0.92,0,0.00,0.00,0.32,10
174388,['Roger Fly'],57tgYkWQTNHVFEt6xDKKZj,Improvisations,0,0.24,1,0.89,0.64,0.75,0

### Saving newly created class labels to file, spotify-classlabels-kmeans.csv.

In [24]:
# saving labels to file, so that we don't
# have to rerun K-means all the time.
spotify.to_csv((working_dir)+"/Data/spotify-classlabels-kmeans.csv", index = False)